
@{
    Layout = "~/Views/Shared/Front/_FLayout.cshtml";
}
<div class="about">
    <div class="container">
        <div class="help-info">
            <h2 class="tittle">ABOUT US</h2>
        </div>
        <div class="about-grids">
            <div class="col-md-5 about-grid-left">
                <img src="~/Images/front/g5.jpg" alt="">
            </div>
            <div class="col-md-7 about-grid">
                <h3>可优简介 </h3>
                <p>
                    CUTE可优中小学快乐英语隶属于泰弗尔教育集团。泰弗尔教育成立于1999年，着眼于浙江本土高端英语
                    培训领域，经过十二年的飞速发展，目前已经在浙江省内5个城市拥有7家直营中心和2家加盟中心。The TEFL
                    Academy泰弗尔英语致力于提供一流的英语教育、国际文化交流服务，由外语界知名专家李宝琨教授发起，融
                    合引进美国、澳大利亚、香港等国家和地区的英语教育资源，成功研发TEFL英语教学体系。泰弗尔教育经过多
                    年精心准备，组织英语培训领域专家，整合国际著名教育机构资源，于2008年成功推出青少年英语培训课程
                    —— CUTE Kids English。
                </p>
                <p>

                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="help-grids">
    <div class="container">
        <div class="col-md-6 help-grid">
            <h3 class="tittle tit3">WHO WE ARE</h3>
            <p>
                CUTE可优中小学快乐英语隶属于泰弗尔教育集团。泰弗尔教育成立于1999年，着眼于浙江本土高端英语
                培训领域，经过十二年的飞速发展，目前已经在浙江省内5个城市拥有7家直营中心和2家加盟中心。The TEFL
                Academy泰弗尔英语致力于提供一流的英语教育、国际文化交流服务，由外语界知名专家李宝琨教授发起，融
                合引进美国、澳大利亚、香港等国家和地区的英语教育资源，成功研发TEFL英语教学体系。泰弗尔教育经过多
                年精心准备，组织英语培训领域专家，整合国际著名教育机构资源，于2008年成功推出青少年英语培训课程
                —— CUTE Kids English。
            </p>
        </div>
        <div class="col-md-6 help-grid">
            <h3 class="tittle tit3">WHY US?</h3>
            <p>
                CUTE可优中小学快乐英语所有班级均为严格的高品质小班，配合可优独创的成长教育超市，满足孩子在不
                同阶段的学习需求。补差、提高、个性化辅导三位一体：素质教育课程、德育课程、语音入门课程、音标课程
                、口语课程、阅读课程、作文课程、兴趣班、学习效能辅导、单独辅导等保证了每位小学员都能得到任课老师
                的特别关注。针对个别有特殊学习需要的学生，我们更能提供VIP一对一的教学服务。因材施教，教书育人，
                我们的教育目标为让每个参加我们培训的孩子都能提升学习兴趣，掌握学习方法，提高在校考试成绩，并成长
                为有优良道德品质的人才。
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<div class="about-bottom-last">
    <div class="container">
        <div class="help-info">
            <h3 class="tittle">CONTACT US</h3>
        </div>
        <div class="client-say-grids">
            <div class="col-md-3 client-say-grid">
                <p>
                    全国统一免费学习专线：
                </p>
                <h4>400-098-5568</h4>
            </div>
            <div class="col-md-3 client-say-grid">
                <p>
                    中心网址：
                </p>
                <a href="http://www.cuteenglish.org"><h4>www.cuteenglish.org</h4></a>
            </div>
            <div class="col-md-3 client-say-grid">
                <p>
                    咨询电话：
                </p>
                <h4>0571-86537002</h4>
                <h4>0571-86537003</h4>

            </div>
            <div class="col-md-3 client-say-grid">
                <p>
                    地址：
                </p>
                <h4> 太平门直街458号</h4>
                <h4>
                    江干文化中心南4楼（庆春银泰隔壁）
                </h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>