@{
    Layout = "~/Views/Shared/Front/_FLayout.cshtml";
}
<!-- //banner -->
  <div class="section">
        
    </div>



<div class="container news ">
    <div class="row clearfix">
        <div class="col-sm-8">
            <div class="row clearfix">
                <div class="col-sm-12">
                    <H2 class="title">
                        <strong> 新闻公告</strong>
                        <small>News</small>
                    </H2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    
                    <dl>
                        <dt><span class="pull-right">2017-11-01</span>
                            <a target="_blank" href="/static/info/201711/show_10550398.shtml">
                                关于开展2017年双色球派奖活动的公告</a>
                        </dt>
                        <dd>
                            为提升中国福利彩票双色球的品牌影响力，进一步回馈广大公众对双色球的喜爱和支持，中国福利彩票发行管理中心决定开展2017年双色球游戏派奖活动。现就有关事项公告如下
                        </dd>
                        <dd class="newstag"><b>标签：</b>
                            <span class="label label-default">测试2</span>
                            <span class="label label-default">测试3</span>
                            <span class="label label-default">测试</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">

                    <dl>
                        <dt>
                            <span class="pull-right">2017-11-01</span>
                            <a target="_blank" href="/static/info/201711/show_10550398.shtml">
                                关于开展2017年双色球派奖活动的公告
                            </a>
                        </dt>
                        <dd>
                            为提升中国福利彩票双色球的品牌影响力，进一步回馈广大公众对双色球的喜爱和支持，中国福利彩票发行管理中心决定开展2017年双色球游戏派奖活动。现就有关事项公告如下
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">

                    <dl>
                        <dt>
                            <span class="pull-right">2017-11-01</span>
                            <a target="_blank" href="/static/info/201711/show_10550398.shtml">
                                关于开展2017年双色球派奖活动的公告
                            </a>
                        </dt>
                        <dd>
                            为提升中国福利彩票双色球的品牌影响力，进一步回馈广大公众对双色球的喜爱和支持，中国福利彩票发行管理中心决定开展2017年双色球游戏派奖活动。现就有关事项公告如下
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12 text-center">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            
            
            
            
            
            

        </div>
        <div class="col-sm-4">
            @Html.Action("Order","Index")
        </div>
    </div>
    

</div>

@section Styles {
    <link  rel='stylesheet' type='text/css' href="~/Content/front/news.css"/>

}


@section Scripts {
}
