<?xml version="1.0"?>
<ImowConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CndPath>2222</CndPath>
  <Idzone>1</Idzone>
  <Idmachine>3</Idmachine>
  <Idstep>100</Idstep>
  <Idfile>IdFiles</Idfile>
  <SolrUrl>http://localhost:8983/solr/imow_core</SolrUrl>
  <CouponImowDiscountRate>0.2</CouponImowDiscountRate>
  <ProductUploadImageUrl>/Upload/Product/</ProductUploadImageUrl>
  <UserUploadImageUrl>/Upload/User/</UserUploadImageUrl>
  <ImageUrl>http://www.imow.com.cn</ImageUrl>
  <IsWriteErrorLogToLocalFile>true</IsWriteErrorLogToLocalFile>
  <IsWriteCommonLogToLocalFile>true</IsWriteCommonLogToLocalFile>
  <Profiler>true</Profiler>
  <!--阿母团购活动开始时间-->
  <ProductActiveStartTime></ProductActiveStartTime>
  <!--阿母团购活动结束时间-->
  <ProductActiveEndTime></ProductActiveEndTime>
</ImowConfig>