<?xml version="1.0"?>
<ImowConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CndPath>2222</CndPath>
  <Idzone>1</Idzone>
  <Idmachine>3</Idmachine>
  <Idstep>100</Idstep>
  <Idfile>IdFiles</Idfile>
  <ImageUrl>http://www.imow.com.cn</ImageUrl>
  <IsWriteErrorLogToLocalFile>true</IsWriteErrorLogToLocalFile>
  <IsWriteCommonLogToLocalFile>true</IsWriteCommonLogToLocalFile>
  <Profiler>true</Profiler>
  <PhotoId>2</PhotoId>
</ImowConfig>