<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title ">
            公告
        </h1>
    </div>
    <div class="panel-body">
        <ul  class="list-unstyled notice">
            <li>
                <a href="" target="_blank">双色球9亿大派送 单注奖金达1500万</a>
                <span>01日</span>
            </li>
            <li>
                <a href="" target="_blank">双色球9亿大派送 单注奖金达1500万</a>
                <span>01日</span>
            </li>
            <li>
                <a href="" target="_blank">双色球9亿大派送 单注奖金达1500万</a>
                <span >01日</span>
            </li>
            <li>
                <a href="" target="_blank">双色球9亿大派送 单注奖金达1500万</a>
                <span>01日</span>
            </li>

        </ul>



    </div>
</div>